* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/** Navigation bar element styling Start**/

body {
    font-family: montserrat;
    background-size: cover;
    width: 100%;
}

.navig {
    background-color: #333 !important;
    position: fixed;
    top: 0;
    width: 100%;
}

img#logo {
    width: 7%;
    margin-top: 12px;
    margin-left: 10px;
    vertical-align: bottom;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

.navig ul.left-menu {
    display: inline-block;
}

.navig ul.right-menu {
    float: right;
    margin-right: 20px;
    margin-bottom: 0;
    padding-bottom: 0;

}

.navig ul.right-menu li.ucontrol,
li.uname,
.navig ul.left-menu li {
    display: inline-block;
    line-height: 20px;
    margin: 25px 5px;

}

.uname a {
    color: #973d38;
    text-decoration: none;

}

.uname a:hover {
    color: #c09492;
}

.drop-down {
    position: absolute;
    width: 10%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background: rgba(255, 255, 255, 0.297);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;
    z-index: 1;
    height: 95%;
    padding: 10px;
    display: none;
}

.uname:hover .drop-down {
    display: block;
}

.drop-down li {
    padding: 5px;
}

.drop-down li.drop-style a {
    color: white;
    cursor: pointer;
}

.drop-down li.drop-style a:hover {
    color: black;
}

.ucontrol a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    list-style: none;
}

.ucontrol a:hover {
    transition: .5s;
    border-color: #973d38;
    border-width: 2px;
    border-style: solid;

}

/** Navigation bar element styling End**/