{% extends "base/nav.html" %}
{% block bootstrap %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
{% endblock %}
{% block css %}

<style>
    body {
        background-size: 100%;
        animation: gradient 15s ease infinite;
        animation-direction: alternate;
        background-image: url("../../static/images/night_sky.jpg");
    }



    .quiz {

        position: relative;
        width: 50%;
        height: 400px;
        margin: auto;
        background-color: rgba(240, 248, 255, 0.177);
        border-radius: 10px;
        margin-top: 10%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        overflow: hidden;


    }

    .question-header {
        width: 100%;
        overflow: hidden;
        height: 80px;
        background: linear-gradient(45deg, #366784, rosybrown, #395754, #cac9c5);
        text-align: center;
        font-family: montserrat;
        font-weight: bold;
        font-size: large;
        color: white;
        border-radius: 5px;
        padding-top: 10px;

    }

    .pag-nav {
        position: absolute;
        width: 50%;
        height: 80px;
        margin-left: 150px;
        overflow: hidden;
        bottom: -37.5px;
        left: 29.5%;

    }

    .pagination {
        float: right;
    }

    .page-link {
        background: rosybrown;
    }

    .form-check-radio {

        text-align: center;
        margin-top: 20px;

    }

    .form-check-radio label {
        background-color: white;
        width: 40%;
        height: 40px;
        border-radius: 30px;
        border-style: groove;
        border-color: rgb(112, 200, 215);
        padding-top: 5px;
        margin-top: 10px;
        cursor: pointer;
        position: relative;

    }

    .form-check-radio label:hover {
        background-color: rgba(255, 255, 255, 0.377);
    }

    .form-check-radio label:focus {

        opacity: 1;
        color: white;
    }

    .form-check-radio label span {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 3px solid rgb(112, 200, 215);
        display: block;
        position: absolute;
        left: 0;
        top: 7px;
        margin-left: 5px;
    }

    .form-check-radio label span:after {
        content: "";
        height: 10px;
        width: 10px;
        background: black;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 50%;
    }

    .form-check-radio input[type="radio"]:checked~span:after {
        transform: translate(-50%, -50%) scale(1);
    }

    .form-check-radio input[type="radio"] {
        display: none;
    }

    #check-answer {
        border-radius: 8px;
        background: rosybrown;
        padding: 6px;
        border-color: white;
        position: absolute;
        bottom: 0;
        margin-bottom: 5px;
        margin-left: 7px;
        color: rgb(77, 66, 195);
    }

    #btnResults {
        border-radius: 8px;
        background: rosybrown;
        padding: 6px;
        border-color: white;
        position: absolute;
        bottom: 0;
        margin-bottom: 5px;
        margin-left: 30%;
        color: rgb(77, 66, 195);
    }

    #check-answer:hover,
    #btnResults:hover {
        background: #cac9c5;
    }

    #noquestionsText {
        background-color: #9e6654;
        color: azure;
        padding: 5%;
        margin: 15% 2%;
        border-radius: 10px;
    }

    #noquestionsText a {
        text-decoration: none;
        margin: 40%;
        background-color: #1d4b5c;
        color: #cac9c5;
        padding: 10px;
        border-radius: 5px;

    }

    #noquestionsText a:hover {
        background-color: #335967;
    }
</style>

{% endblock %}
{% block content %}


<div class="quiz">
    {% if not questions %}
    <div id="noquestionsText">
        <p>Oopss, you haven' added any questions yet 😅. Click the button below to do so !</p>
        <a href="{% url 'add-question' categoryId %}" class="btnAdd">Add question</a>
    </div>
    {% else %}
    {% for question in questions %}
    <form action="/final_result.html/" method="post">
        {% csrf_token %}
        <div class="question-header">
            <p>Q. {{question.question}}</p>
            <input type="hidden" name="thequestion" id="thequestion" value="{{question.id}}">
            <input type="hidden" name="thecategory" id="thecategory" value="{{question.category}}">
        </div>


        <div class="form-check-radio">
            {% for option in question.options %}

            <label class="{{option}}" for="{{option}}" tabindex="1" onclick="deepFocus();" id="brb">
                <input class="form-check-input" type="radio" name="option" id="{{option}}" value="{{option}}">
                {{option}}
                <span></span>
            </label>

            {% endfor %}
        </div>

        <input type="hidden" name="correctAnswer" id="correctAnswer" value="{{question.answer}}">
        <input type="hidden" name="explanation" id="questionExp" value="{{question.explanation|linebreaksbr}}">

        <input type="submit" value="Check" id="check-answer" onclick="displayRadioValue(); return false" />
        <div class="pag-nav">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if questions.has_previous %}
                    <li class="page-item"> <a class="page-link"
                            href="?page={{ questions.previous_page_number }}">Previous</a></li>

                    {% endif %}
                    <li class="page-item disabled"><a href="#" class="page-link">Page {{ questions.number }} / {{ questions.paginator.num_pages }}</a></li>
                    {% if questions.has_next %}
                    <li class="page-item"> <a class="page-link" href="?page={{ questions.next_page_number }}">Next</a>
                    </li>

                    {% endif %}
                </ul>
            </nav>
        </div>
        {% if not questions.has_next %}
        <input type="submit" value="See results" id="btnResults" />
        {% endif %}

    </form>
    {% endfor %}
    {% endif %}

</div>



{% endblock %}